h1{
    text-align: center;
    font-weight: 100;
    text-decoration: underline royalblue;
}

p{
    /* text-align: center;
    font-weight: 100; */
    line-height: 1.5;
    letter-spacing: normal;
}

a{
    text-decoration: none;
}